/* módulos */

.white-color {
    color: white;
}

.fit-contet {
    width: fit-content;
}

.blue-bg {
    background-color: #0d76c7;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn-wide {
    text-align: center;
    width: 250px;
    height: 40px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.green-bg {
    background-color: #1fad47;
}

.color-blue {
    color: #0d76c7;
}

.input-inicio {
    padding: 0px 0px 7px 25px;
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
}

.input-inicio:focus {
    outline: none;
}

.i-input-inicio {
    position: absolute;
    color: #757575;
    margin-top: 5px;
    margin-left: 2px;
}

.link-medicando {
    color: #757575 !important;
}

.link-medicando:hover, .link-medicando:active, .link-medicando:focus {
    color: black !important;
}

.bb-black {
    border-bottom: 1px solid black;
}

.hover-black:hover {
    color: black !important;
}

.input-alt {
    border: none;
    flex: 1;
    padding-left: 7px;
    margin-bottom: 1px;
    position: relative;
    bottom: 1px;
}

.input-alt:focus {
    outline: none;
}

.radio-alt {
    margin-top: 7px;
}

.mb-1p {
    margin-bottom: 1px !important;
}

.container-fluid {
    padding: 0 !important;
}

.btn-reset {
    border: none;
    background: transparent;
    padding: 0px;
}

.btn-reset:active, .btn-reset:focus {
    outline: none;
}

.btn-menu {
    background: white;
    border: 1px solid black
}

.divisoria-branca {
    height: max-content;
    width: 2px;
    background: white
}

.bg-gray {
    background-color: lightgray
}

.round-border {
    border-radius: 5px;
}

.h-2p {
    height: 2px;
}

.lh-1 {
    line-height: 1;
}

.w-fit-content {
    width: fit-content !important;
}

/* Elementos específicos */

.editHorario {
    cursor: pointer;
}

.b-black-1 {
    border: 1px solid black
}

.lista-remedios {
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

.remedios-wrapper {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    top: -3px;
}

.profile-icon {
    font-size: 30px;
}

.logo-medicando {
    max-width: 200px;
}

.h-inicio {
    font-weight: normal;
    font-size: 2rem;
}

.btn-profile {
    cursor: pointer;
}

.btn-menu-dt {
    border: none !important;
    color: white;
    background: transparent;
    margin-left: 22px;
}

.square-horario {
    max-width: 320px;
}

.mt-50p {
    margin-top: 50px;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width:767px) {
    .dt-only {
        display: none !important;
    }
}

@media (min-width:768px) {
    .mb-only {
        display: none !important;
    }
}