<!DOCTYPE html>
<html>

<head>
	<title>Medicando</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	<script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/index.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
	<!-- Header -->
	<div class="container-fluid blue-bg">
		<div class="container blue-bg align-items-center py-2 d-flex">
			<span class="flex-fill text-left dt-only">
				<button class="btn-menu-dt flex-fill btn-home">
					<i class="fas fa-home"></i>
					<div class="w-100">Horários</div>
				</button>
				<button class="btn-menu-dt flex-fill btn-farmacias">
					<i class="fas fa-globe-americas"></i>
					<div class="w-100">Farmácias</div>
				</button>
				<button class="btn-menu-dt flex-fill float-right btn-sair">
					<i class="fas fa-sign-out-alt"></i>
					<div class="w-100">Sair</div>
				</button>
			</span>
		</div>
	</div>
	<div class="container-fluid d-flex mb-only">
		<button class="btn-menu flex-fill btn-home">
			<i class="fas fa-home"></i>
			<div class="w-100">Horários</div>
		</button>
		<button class="btn-menu flex-fill btn-farmacias">
			<i class="fas fa-globe-americas"></i>
			<div class="w-100">Farmácias</div>
		</button>
	</div>
	<!-- Home -->
	<div id="tela-home" class="container">
		<h2 class="text-center my-4">Horários</h2>
		<div class="row">
			<div class="col-lg-4">
				<div class="square-horario mx-auto lh-1 mb-4">
					<div class="green-bg white-color p-3 round-border d-flex align-items-center">
						<h3 class="mb-0 flex-fill" id="horario1">Não programado</h3>
						<i id="editHorario1" class="fas fa-pencil-alt fa-2x editHorario" data-toggle="modal"
							data-target="#modalRegistrarHorario"></i>
					</div>
					<div class="remedios-wrapper">
						<div id="remedios1" class="remedios">
						</div>
						<div class="py-3 text-center">
							<i id="addRemedio1" class="fas fa-plus cursor-pointer fa-2x mx-3 addRemedio" data-toggle="modal"
								data-target="#modalNovoRemedio"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="square-horario mx-auto lh-1 mb-4">
					<div class="green-bg white-color p-3 round-border d-flex align-items-center">
						<h3 class="mb-0 flex-fill" id="horario2">Não programado</h3>
						<i id="editHorario2" class="fas fa-pencil-alt fa-2x editHorario" data-toggle="modal"
							data-target="#modalRegistrarHorario"></i>
					</div>
					<div class="remedios-wrapper">
						<div id="remedios2" class="remedios">
						</div>
						<div class="py-3 text-center">
							<i id="addRemedio2" class="fas fa-plus cursor-pointer fa-2x mx-3 addRemedio" data-toggle="modal"
								data-target="#modalNovoRemedio"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="square-horario mx-auto lh-1">
					<div class="green-bg white-color p-3 round-border d-flex align-items-center">
						<h3 class="mb-0 flex-fill" id="horario3">Não programado</h3>
						<i id="editHorario3" class="fas fa-pencil-alt fa-2x editHorario" data-toggle="modal"
							data-target="#modalRegistrarHorario"></i>
					</div>
					<div class="remedios-wrapper">
						<div id="remedios3" class="remedios">
						</div>
						<div class="py-3 text-center">
							<i id="addRemedio3" class="fas fa-plus cursor-pointer fa-2x mx-3 addRemedio" data-toggle="modal"
								data-target="#modalNovoRemedio"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Farmácias -->
	<div id="tela-farmacias">
		<div class="container">
			<p class="text-center mt-4">Precisando comprar algum medicamento?</p>
			<a class="btn-wide blue-bg py-2 mt-3 px-4 d-block mx-auto hover-black w-fit-content" target="_blank"
				href="https://www.google.com/maps/search/farmacias+proximas/">Procurar Farmácias Próximas</a>
		</div>
	</div>

	<!-- MODAL PROGRAMAR HORARIO -->
	<div id="modalRegistrarHorario" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Defina o horário da gaveta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="formRegistrarHorario" method="POST" action="{{ url_for('programarHorario') }}">
					<div class="modal-body text-center">
						<input type="time" name="hora" class="form-control">
						<input type="hidden" name="idGaveta">
					</div>
					<div class="modal-footer">
						<input type="submit" id="confirmarHorario" class="btn btn-primary" value="Confirmar">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Limpar</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- MODAL NOVO REMÉDIO -->
	<div id="modalNovoRemedio" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Adicionar remédio à gaveta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="formNovoRemedio" method="POST" action="{{ url_for('novoRemedio') }}">
					<div class="modal-body text-center">
						<input type="hidden" name="idGaveta">
						<label for="nome">Nome do remédio</label>
						<input type="text" name="nome" class="form-control text-center">
						<label for="icone" class="mt-2">Ícone do remédio</label>
						<div class="d-flex">
							<div class="flex-fill text-center">
								<label>
									<input type="radio" name="icone" value="0" checked>
									<i class='fas fa-tablets align-self-center fa-2x mx-3'></i>
								</label>
							</div>
							<div class="flex-fill text-center">
								<label>
									<input type="radio" name="icone" value="1">
									<i class='fas fa-capsules align-self-center fa-2x mx-3'></i>
								</label>
							</div>
							<div class="flex-fill text-center">
								<label>
									<input type="radio" name="icone" value="2">
									<i class='fas fa-pills align-self-center fa-2x mx-3'></i>
								</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" id="confirmarHorario" class="btn btn-primary" value="Confirmar">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>