<!DOCTYPE html>
<html>

<head>
    <title>Medicando</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> 
    <script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="center-xy" id="tela-inicio">
            <img src="{{url_for('static',filename='img/logo-medicando.png')}}" class="d-block mx-auto logo-medicando mb-5">
            <button class="d-block mx-auto btn-wide blue-bg mb-3" onclick='toggleLogin("login")'>Login</button>
            <button class="d-block mx-auto btn-wide green-bg" onclick='toggleLogin("registro")'>Registrar</button>
        </div>
        <div class="center-xy" id="tela-login">
            <i class="fas fa-arrow-left fa-2x cursor-pointer" onclick='toggleLogin("inicio");'></i>
            <img src="{{url_for('static',filename='img/logo-medicando.png')}}" class="d-block mx-auto logo-medicando mb-5">
            <h1 class="text-center color-blue h-inicio mb-5">Bem Vindo!</h1>
            <form id="formLogin" method="get" action="{{ url_for('login') }}">
                <i class="far fa-envelope i-input-inicio"></i>
                <input type="text" name="email" class="d-block mx-auto input-inicio mb-4" placeholder="Seu e-mail">
                <i class="fas fa-key i-input-inicio"></i>
                <input type="password" name="senha" placeholder="Sua senha" class="d-block mx-auto input-inicio mb-5">
                <input class="d-block mx-auto btn-wide blue-bg mb-3" type="submit" value="Login">
            </form>
            <a class="text-center d-block link-medicando">Esqueceu sua senha?</a>
        </div>
        <div class="center-xy" id="tela-registro">
            <i class="fas fa-arrow-left fa-2x mt-50p position-absolute cursor-pointer" onclick='toggleLogin("inicio");'></i>
            <h1 class="text-center color-blue h-inicio my-5">Registrar</h1>
            <form id="formRegistrar" method="post" action="{{ url_for('registrar') }}">
                <!-- <div class="d-flex bb-black mb-3">
                    <label class="mb-0">Nome:</label>
                    <input type="text" class="input-alt">
                </div> -->
                <!-- <div class="d-flex bb-black mb-3">
                    <label class="mb-0">Sobrenome:</label>
                    <input type="text" class="input-alt">
                </div> -->
                <!-- <div class="d-flex bb-black mb-3">
                    <label class="mb-0">Gênero:</label>
                    <span class="mb-1p">
                        <input type="radio" name="genero" class="radio-alt ml-4 mr-1">
                        <label class="mb-0">F</label>
                        <input type="radio" name="genero" class="radio-alt ml-4 mr-1">
                        <label class="mb-0">M</label>
                        <input type="radio" name="genero" class="radio-alt ml-4 mr-1">
                        <label class="mb-0">Outro</label>
                    </span>
                </div> -->
                <!-- <div class="d-flex bb-black mb-4">
                    <label class="mb-0">Data de nascimento:</label>
                    <input type="date" class="input-alt">
                </div> -->
                <label for="registro-email" class="w-100 mb-0">Escolha seu e-mail</label>
                <i class="far fa-envelope i-input-inicio"></i>
                <input type="text" name="email" class="d-block mx-auto input-inicio mb-4" id="registro-email"
                    placeholder="Seu e-mail">
                <label for="registro-senha" class="w-100 mb-0">Escolha sua senha</label>
                <i class="fas fa-key i-input-inicio"></i>
                <input type="password" name="senha" placeholder="Sua senha" class="d-block mx-auto input-inicio mb-3"
                    id="registro-senha">
                <label for="registro-confirma-senha" class="w-100 mb-0">Confirme sua senha</label>
                <i class="fas fa-key i-input-inicio"></i>
                <input type="password" placeholder="Sua senha" class="d-block mx-auto input-inicio mb-4"
                    id="registro-confirma-senha">
                <input type="submit" class="d-block mx-auto btn-wide green-bg mb-5"
                    value="Registrar">
            </form>
        </div>
    </div>
</body>

</html>